{% extends "layout.html" %}

{% block content %}

   <section class="date">
		<h1>Excerpt for August 16, 2014</h1>
	</section>
	
	<section class="prompt-box">
		<p class="prompt">"Clashes between heavily armed police officers and furious protesters in Ferguson have defined the aftermath of an officer’s fatal shooting of an unarmed teenager on Saturday, and the latest moves came as federal and state officials scrambled to quell the growing crisis. Alarm had been rising across the country at images of a mostly white police force, in a predominantly African-American community, aiming military-style weapons at protesters and firing tear gas and rubber bullets."</p>
		<p class="prompt-author">"New York Times", ISIS and the Iraq War Crisis</p>
	</section>

	<section class="instructions">
		<h1>Now, it's your turn.</h1>
	</section>

	<form class="input-boxes" action="/entries" method="POST">
		<input class="short-forms" id="short-form-left" type="text" name="nameInput" placeholder="What's your name?" required>
		<input class="short-forms" id="short-form-right" type="text" name="placeOfOrigin" placeholder="Where are you from?" required>
		<textarea id="commentBox" name="editedText" placeholder="Now time to work your magic." required></textarea>
		<input type="submit" value="Submit" class="submitBtn">
	</form>

{% endblock %}
