<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chops</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<link href='http://fonts.googleapis.com/css?family=Alegreya:400italic,700italic,900italic,400,700,900' rel='stylesheet' type='text/css'>
</head>
<body>
	<header>
		<section class ="header-content">
			<img class="logo" src="images/logo3.png">
		</section>
	</header>
	<section class="main-content">

	{% block excerpt %}{% endblock %}

	</section>
</body>
</html>